/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set the base font size */
html {
  font-size: 16px;
}

/* Set the default font family */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove the default list styles */
ul,
ol {
  list-style: none;
}
